* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  text-align: center;
  margin: auto;
}

.btn {
  height: 50px;
  width: 100px;
  color: #333;
  font-size: large;
  margin-bottom: 50px;
  margin-left: 10px;
  background-color: rgb(218, 217, 217);
}

table tr td {
  height: 50px;
  width: 50px;
  border: 3px solid white;
  color: antiquewhite;
  cursor: pointer;
}

table {
  margin: auto;
}
h1 {
  color: antiquewhite;
}

.hidden {
  transition: ease-out 0.8s;
  background-color: antiquewhite;
}

.mine {
  background-color: rgb(223, 87, 114);
}

.game-over {
  background-color: crimson;
  pointer-events: none;
}

.restart {
  color: #333;
  font-size: large;
  font-weight: bold;
}
