@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #333;
  text-align: center;
  margin: auto;
  max-height: 65vh;
}

.btn {
  font-family: inherit;
  height: 40px;
  width: 80px;
  color: #333;
  font-weight: 700;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: rgb(218, 217, 217);
  border-radius: 2px;
}

table tr td {
  height: 40px;
  width: 40px;
  border: 3px solid white;
  color: antiquewhite;
  cursor: pointer;
}

table {
  margin: auto;
}
h1 {
  color: antiquewhite;
  letter-spacing: 2px;
  font-size: 40px;
}

.hidden {
  transition: ease-out 0.8s;
  background-color: antiquewhite;
}

.mine {
  background-color: rgb(223, 87, 114);
}

.game-over {
  background-color: crimson;
  pointer-events: none;
}

.restart {
  color: #333;
  font-size: large;
  font-weight: bold;
  margin-top: 30px;
  width: 150px;
  height: 80;
}

.strikes-container img {
  height: 60px;
  width: 60px;
  color: antiquewhite;
  font-weight: bold;
  background-color: antiquewhite;
  border-radius: 50%;
}
.strikes-container {
  padding-top: 20px;
}

.header {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: center;
  /* margin-bottom: 25px; */
}

.timer span {
  box-sizing: border-box;
  color: antiquewhite;
  font-size: 70px;
  margin-right: 50px;
  width: 200px;
  position: absolute;
  right: 50%;
}

.timer-container {
  width: 400px;
  position: absolute;
}

.crashed {
  transition: 0.6s ease-out;
  opacity: 0.1;
}

.mines-counter {
  color: antiquewhite;
  font-size: 20px;
  position: absolute;
  top: 22%;
  margin-left: 10px;
}

.mines-counter-container {
  position: relative;
  margin-left: 15px;
}
.smiley {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 48px;
  cursor: pointer;
  opacity: 0.5;
}

.hint-container {
  position: relative;
  position: absolute;
  top: 50%;
}

.hint {
  background-color: rgb(39, 35, 31);
  height: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 150px;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.hint span {
  background-color: antiquewhite;
  margin-right: 5px;
  border-radius: 50%;
  width: 50px;
  padding-right: 50px;
}

.icon {
  height: 50px;
  width: 115px;
  padding-right: 40px;
  position: absolute;
  left: 55%;
}

.hide-hint {
  transform: translateX(-100%);
  transition: transform ease-out 0.2s;
}
